*{
    margin: 0;
    padding: 0;
}
html, body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
.side{
    width: 250px;
    display: flex;
}
.ham{
    display: none;
}
a{
    color: black;
}
a:link,a:visited{
    text-decoration: none;
    color: black;
    color: rgb(122, 117, 117);
}
.logo {
    padding: 16px!important;
    letter-spacing:4px ;
    display: inline-block;
}
.logo a h3{
    font-weight:999;
    color: black;
    font-family: "Montserrat", sans-serif;
    
}
.logo a:hover{
    text-decoration: none;
    color: black;
}
.side {
    display: block;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow: auto;    
    border-right:1px solid gray;
}

.menu {
    padding: 32px 0 64px 0;
    display: flex;
    flex-direction: column;
}
.submenu{
    padding: 0px 24px;
    display:none;
}
.cat {
    display: block;
    font-size: 1.15rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgb(122, 117, 117);
    font-weight: bold;
    padding: 8px 16px;
}
.subcat{
    display: block;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 1rem;
    padding: 8px 16px;
    text-align: left;
}

.bottom {
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
}

.page {
    margin-left: 250px;
    box-sizing: border-box;
}
.header {
    /* display: flex; */
    font-size: 1.5rem;
    height: 84px;
    padding: 0.24px 0 0 16px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
i {
    font-size: 20px;
    padding-top: 2px;
    cursor: pointer;
}
.search{
    height: 30px;
    width: auto;
    text-align: center;
    font-size: 15px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1px solid  rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
}
input:focus{
    outline: none;
}
.fa-search{
    border: 1px solid  rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding:2px 6px 6px 0;
}
.heading1{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100px;
    padding: 30px 48px;
    color: white;
}
.heading{
    margin: 10px 0 20px 0;
    font-weight: 400;
}
.heading1 h1{
    font-size: 45px;
}
.heading1 h3{
    font-size: 40px;
}
.btn{
    display: block;
    width: 130px;
    height: 50px;
    margin: 15px 0;
    background-color: black;
    padding: 0!important;

}
.btn-txt:hover,.btnsub:hover,.send:hover,.cat:hover,.subcat:hover{
    color: #000!important;
    background-color: #ccc!important;
    cursor: pointer;
    text-decoration: none;
}
.btn-txt{
    padding: 12px 10px!important;
    color: white!important;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    border: none;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    justify-content: center;
}
.poster{
    display: block;
    position: relative;
    box-sizing:inherit;
    padding: 0.01em 0 0 16px;
}
.poster::before,.poster::after,.heading2::before,.heading2::after,.subscr::before,.subscr::after{
    content: "";
    display: table;
    clear: both;
}
.heading2{
    padding: 0.01em 16px;
    margin: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
.carousel-inner{
    height: 500px;
}
.carousel-inner .carousel-item img{
    height: 500px;
    width: 100%;
}
.carousel-caption{
    margin-bottom: 0px;
}
.subscr{
    padding: 32px 16px;
    background-color: black;
}
.heading3{
    font-size: 36px;
    font-weight: 400;
    margin: 10px 0;
    color: white;
}
.input{
    width: 100%;
    border: 1px solid #ccc!important;
    padding: 8px;
    overflow: visible;
}
.text{
    font-size: 16px;
    color: white;
}
.btnsub{
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 0px;
    background-color: #e23737;
    color: white;
    border: none;
    padding: 8px 14px;
    margin-bottom: 16px !important;
}
.more{
    display: flex;
    padding: 20px 0;
    background-color: rgb(235, 232, 232);
}
.contact{
    padding: 32px 16px;
    width: 33%;
    text-align: center;
}
.form{
    margin: 12px 0px;
    width: 97%;
    height: 32px;
    font-size: 0.8rem;
    padding-left: 6px;
    border: 1px solid rgb(228, 224, 224);
}
.txt1{
    margin: 8px 0px;
    font-size: 1.5rem;
    font-weight:lighter;
}
.txt2{
    margin: 12px 0px;
    font-size: 0.8rem;
    word-wrap: normal;
}
.send{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
}
.about{
    padding: 32px 0px;
    width: 30%;
    text-align: center;
}
.about a{
    margin-bottom: 16px;
    display: block;
    color: black;
}
.store{
    padding: 32px 33px;
    width: 30%;
}
.icon{
    font-size: 0.9rem;
    width: 18px;
}
.icon2 i{
    margin-top: 22px;
    font-size: 1.2rem;
    width: 22px;
}
.adjust{
    margin-left: -4px;
    margin-right: 2px;
}
.footer{
    margin: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    padding: 22px 0
}
.footer p{
    text-align: center;
    vertical-align: middle;
}
.item{
    height: 450px;
}

.submenu i{
    font-size: 16px;
}
#sendtxt,#subtxt{
    font-size: 12px;
    color: red;
    display: block;
}
.thank{
    height: 400px;
    background-color:white !important;
}
.thank h4{
    font-size: 25px;
    padding: 40px 20px;
}
.thank h5{
    font-size: 20px;
    padding: 0 20px;
}
.moreb{
    border: none;
    background: none;
}